<div>
    <h2 style="text-align: center" [hidden]="!showUpdateForm">
      Modifier {{ selectedUser?.username }}
    </h2>
    <div [hidden]="showUpdateForm">
      <h2>Liste des Utilisateurs</h2>
      <app-add-button class="AddTraining" (click)="AddUser()"></app-add-button>
      <table datatable [dtOptions]="dtOptions" class="row-border hover" [hidden]="showUpdateForm"></table>
    </div>
  
    <div [hidden]="!showUpdateForm">
      <div class="container">
        <form #updateUserForm="ngForm" (ngSubmit)="onFormSubmit(updateUserForm)">
          <div class="row">
            <h4>Modifier un Utilisateur</h4>
  
            <div class="input-group input-group-icon">
              <input type="text" placeholder="Nom d'utlisateur" name="username" ngModel [required]="true" />
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <app-ui-message [message]="'Nom d utlisateur est requis'"
              *ngIf="updateUserForm.controls['username'] && updateUserForm.controls['username'].errors?.['required']"
              class="error-message"></app-ui-message>
            <div class="input-group input-group-icon">
              <input type="text" placeholder="Mot de passe" name="password" ngModel [required]="true" />
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <app-ui-message [message]="'Mot de passe est requis'"
              *ngIf="updateUserForm.controls['password'] && updateUserForm.controls['password'].errors?.['required']"
              class="error-message"></app-ui-message>
          </div>
  
          <div class="row">
            <div class="col-half">
              <div class="input-group">
                <div class="col-third">
                </div>
                <div class="col-third">
                </div>
                <div class="col-third">
                </div>
              </div>
            </div>
            <div class="col-half">
  
              <div class="input-group">
  
  
                <app-confirm-button type="submit" class="app-confirm-button"
                  [disabled]="updateUserForm.invalid"></app-confirm-button>
  
                <app-ui-message [message]="'Modifiée avec succées'" *ngIf="successMessage"
                  class="success-message"></app-ui-message>
  
                <app-ui-message [message]="'erreur de modification'" *ngIf="errorMessage"
                  class="error-message"></app-ui-message>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>