
<div class="container">
    <form (ngSubmit)="onSubmit(addSupervisorForm)" #addSupervisorForm="ngForm">
      <div class="row">
        <h4>Ajouter une Formation</h4>
        
        <label for="name">Nom d'encadrant</label>
            <div class="input-group input-group-icon">
              <input type="text" placeholder="Nom d'encadrant" name="name" ngModel [required]="true" />
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <app-ui-message [message]="'Nom Encadrant est requis'"
              *ngIf="addSupervisorForm.controls['name'] && addSupervisorForm.controls['name'].errors?.['required']"
              class="error-message"></app-ui-message>

              <label for="contact">Contact Info</label>
            <div class="input-group input-group-icon">
              <input type="text" placeholder="Contact Info Encadrant" name="contact" ngModel [required]="true" />
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <app-ui-message [message]="'Contact info est requis'"
              *ngIf="addSupervisorForm.controls['contact'] && addSupervisorForm.controls['contact'].errors?.['required']"
              class="error-message"></app-ui-message>

              <label for="email">Email</label>
              <div class="input-group input-group-icon">
                <input type="text" placeholder="Email Encadrant" name="email" ngModel [required]="true" />
                <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>
              <app-ui-message [message]="'Email est requis'"
                *ngIf="addSupervisorForm.controls['email'] && addSupervisorForm.controls['email'].errors?.['required']"
                class="error-message"></app-ui-message>

              <label for="department">Département</label>
              <div class="input-group input-group-icon">
                  <select name="department" ngModel [required]="true" class="form-control">
                    <option *ngFor="let loadedDepartment of loadedDepartments" [value]="loadedDepartment.departement_id">{{ loadedDepartment.lib_departement_fr }}</option>
                  </select>
                  <div class="input-icon"><i class="fa fa-graduation-cap"></i></div>
                </div>
                <app-ui-message [message]="'La Formation est requise'"
                  *ngIf="addSupervisorForm.controls['training'] && addSupervisorForm.controls['training'].errors?.['required']"
                  class="error-message"></app-ui-message>
     

      </div>
      <div class="row">
        <div class="col-half">
          
        </div>
        <div class="col-half">
          <div class="input-group">
           
  
            
            <app-confirm-button type="submit" class="app-confirm-button" [disabled]="addSupervisorForm.invalid"></app-confirm-button>
  
            
            <app-ui-message [message]="'Ajout avec succées'" *ngIf="successMessage" class="success-message"></app-ui-message>
    
            <app-ui-message [message]="'erreur d ajout'" *ngIf="errorMessage" class="error-message"></app-ui-message>
  
  
          </div>
        </div>
      </div>
    </form>
  </div>
  