
<div class="container">
    <form (ngSubmit)="onSubmit(addDepartmentForm)" #addDepartmentForm="ngForm">
      <div class="row">
        <h4>Ajouter un Département</h4>



        <label for="code">Code du Département</label>
        <div class="input-group input-group-icon">
         <input type="text" placeholder="Code du Département" name="code" ngModel [required]="true"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <app-ui-message [message]="'Code du Département est requise'" *ngIf="addDepartmentForm.controls['code'] && addDepartmentForm.controls['code'].errors?.['required']" class="error-message"></app-ui-message>
        
        
        <label for="name">Libellé du Département</label>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Libellé du Département" name="name" ngModel [required]="true"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <app-ui-message [message]="'Libellé de Département est requise'" *ngIf="addDepartmentForm.controls['name'] && addDepartmentForm.controls['name'].errors?.['required']" class="error-message"></app-ui-message>

      </div>
      <div class="row">
        <div class="col-half">
          
        </div>
        <div class="col-half">
          <div class="input-group">
           
  
            
            <app-confirm-button type="submit" class="app-confirm-button" [disabled]="addDepartmentForm.invalid"></app-confirm-button>
  
            
            <app-ui-message [message]="'Ajout avec succées'" *ngIf="successMessage" class="success-message"></app-ui-message>
    
            <app-ui-message [message]="'erreur d ajout'" *ngIf="errorMessage" class="error-message"></app-ui-message>
  
  
          </div>
        </div>
      </div>
    </form>
  </div>
  