<div class="container"  id="pdf-content">
  <div id="images">
    <img src="./assets/isetrlogo.jpg">
    <img src="./assets/republique-tunisienne.png">
</div>
    <header>
        <div id="upper-titles">
        <p>République Tunisienne</p>
        <p>Ministére de l'Enseignement Superieur et de la recherche Scientifique</p>
        <p>Direction Générale des Etudes Technologiques </p>
        <p>Institut Supérieur des Etudes Technologiques de Radés</p>
        </div>

        <hr>
        <p id="today-date">Radés, Le <strong>{{ formattedDate }}</strong></p>

        <h1><strong>Demande de Stage</strong></h1>
        
        <h2>Monsieur le Responsable des Stages et de la Formation</h2>
    </header>
    
    <section class="content">

        <div id="data">

        <p><u>Organisme :</u></p>
        <p><u>Adresse et coordonnées :</u></p>
        <p><u>tel : </u></p>
        <p><u>fax : </u></p>

         </div>
    <div id="texte">

        <p>Nous venons par cette demande vous solliciter pour accorder un <strong>{{internship?.student?.classRoom?.trainingType?.internshipType?.lib_Type_Stage_fr || "........................."}} </strong> en <strong>{{internship?.student?.classRoom?.trainingType?.training?.lib_formation_fr || "........................."}} </strong>a notre étudiant(e) <strong>{{internship?.student?.name || "........................."}} </strong>inscrit(e) 
            en <strong>{{internship?.student?.classRoom?.trainingType?.lib_niveau_formation_fr || "........................."}} </strong> du <strong>{{internship?.student?.classRoom?.trainingType?.training?.lib_formation_fr || "........................."}} </strong> en <strong>{{currentYear}} </strong> a l'Institut Superieur des Etudes Technologiques de Rades, au sein de votre etablissement
            du <strong>{{internship?.start_date!.split('T')[0] || "........................."}} </strong> au <strong>{{internship?.end_date!.split('T')[0] || "........................."}} </strong> 
        </p>
        <p>Ce stage est obligatoire et a pour objectif d'impliquer l'étudiant dans le fonctionnement de l'entreprise et resourdre une problématique réelle
            . Ce stage fera l'objet d'un rapport et d'une soutenance en <strong> DATE SOUTENANCE</strong>.
        </p>
        <p>Vous réitérant nos remerciments pour une précieuse collaboration, veuillez accepter nos salutations les plus distinguées.</p>
        <p>Je me tiens à votre disposition pour un entretien afin de discuter plus en détail de mes motivations et de l'apport que je pourrais avoir au sein de votre équipe.</p>
    </div>
        <p id="signature"><strong>Le Directeur des Etudes et Des Stages</strong></p>


    
            <p id="nb"><strong>NB:</strong> L'étudiant stagiaire bénéficie de la couverture de la Mutuelle des Accidents Scolaires et Universitaire (MASU) durant la periode de stage.</p>

    </section>
    
    <footer>
        <hr>
        <p >Rue de Jérusalem -BP 172, 2098 Radés Médina &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tél : +216 71 460-317  Fax : +216 71 442-322  </p>        
        <p >Site Web de l'ISET Radés : isetr.rnu.tn   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Email : des.iset.rades&#64;gmail.com  </p>

    </footer>
</div>
<button (click)="exportToPDF()" class="download-button">
    <div class="PDF"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg> PDF</div>
    <div class="download">
      <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewBox="0 0 24 24"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line y2="3" x2="12" y1="15" x1="12"></line></svg>
    </div>
  </button>