
<div class="container">
    <form (ngSubmit)="onSubmit(addUserForm)" #addUserForm="ngForm">
      <div class="row">
        <h4>Ajouter un Utilisateur</h4>


        <label for="user_type">Type d'Utilisateur</label>
                <div class="input-group input-group-icon">
                  <select  name="user_type" ngModel [required]="true" class="form-control">
                    <option *ngFor="let loadedUserType of laodedUserTypes" [value]="loadedUserType.user_type_id">{{ loadedUserType.lib_user_type }}</option>
                  </select>
                  <div class="input-icon"><i class="fa fa-graduation-cap"></i></div>
                </div>
                <app-ui-message [message]="'Type Utilisateur est requis'"
                  *ngIf="addUserForm.controls['user_type'] && addUserForm.controls['user_type'].errors?.['required']"
                  class="error-message"></app-ui-message>
       
       
        <label for="username">Nom d'utlisateur</label>
            <div class="input-group input-group-icon">
              <input type="text" placeholder="Nom d'utlisateur" name="username" ngModel [required]="true" />
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <app-ui-message [message]="'Nom d utlisateur est requis'"
              *ngIf="addUserForm.controls['username'] && addUserForm.controls['username'].errors?.['required']"
              class="error-message"></app-ui-message>

              <label for="password">Mot de passe</label>
            <div class="input-group input-group-icon">
              <input type="text" placeholder="Mot de passe" name="password" ngModel [required]="true" />
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <app-ui-message [message]="'Mot de passe est requis'"
              *ngIf="addUserForm.controls['password'] && addUserForm.controls['password'].errors?.['required']"
              class="error-message"></app-ui-message>

              <label for="firstname">Nom</label>
            <div class="input-group input-group-icon">
              <input type="text" placeholder="Nom" name="firstname" ngModel [required]="true" />
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
            <app-ui-message [message]="'Mot de passe est requis'"
              *ngIf="addUserForm.controls['firstname'] && addUserForm.controls['firstname'].errors?.['required']"
              class="error-message"></app-ui-message>

              <label for="lastname">Prénom</label>
              <div class="input-group input-group-icon">
                <input type="text" placeholder="Prénom" name="lastname" ngModel [required]="true" />
                <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>
              <app-ui-message [message]="'Mot de passe est requis'"
                *ngIf="addUserForm.controls['lastname'] && addUserForm.controls['lastname'].errors?.['required']"
                class="error-message"></app-ui-message>

                <label for="email">E-mail</label>
              <div class="input-group input-group-icon">
                <input type="text" placeholder="E-mail" name="email" ngModel [required]="true" />
                <div class="input-icon"><i class="fa fa-user"></i></div>
              </div>
              <app-ui-message [message]="'Mot de passe est requis'"
                *ngIf="addUserForm.controls['email'] && addUserForm.controls['email'].errors?.['required']"
                class="error-message"></app-ui-message>

                
       

       
    
      </div>
      <div class="row">
        <div class="col-half">
          
        </div>
        <div class="col-half">
          <div class="input-group">
           
  
            
            <app-confirm-button type="submit" class="app-confirm-button" [disabled]="addUserForm.invalid"></app-confirm-button>
   
            <app-ui-message [message]="'Ajout avec succées'" *ngIf="successMessage" class="success-message"></app-ui-message>
    
            <app-ui-message [message]="'erreur d ajout'" *ngIf="errorMessage" class="error-message"></app-ui-message>
  
  
          </div>
        </div>
      </div>
    </form>
  </div>
  